*{
    padding: 0px;
    max-width: 0px;
}


#title{
    flex:none;
    font-display:2px;
    font-size: 10px;
    display: contents;
    flex: content;
    border: 0.25rem;
    background-color: grey;
    
}
.img-div{
    height: 700px;
    width: 800px;
    padding: 20px;
    display: flex;
    justify-content: center;
    font size :10px;

}
.body{
    padding: 20px;
    font-weight: 100;
    height: auto;
    display: flex;
    justify-content: center;
}